*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", serif;
}

html, body{
    height: 100%;
}

.header{
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home{
    background-image: url(./assets/homeBackground.jpg);
    background-position: center;    
}
.logo img{
    width: 4.5rem;
    margin: 2rem;
}
.logo{
    position: absolute;
    top: 0;
    left: 0;
}
.nav{
    position: relative;
    padding: 1rem;
}
.links {
    position: absolute;
    right: 0;
    top: 0;
    margin: 2rem;
    display: flex;
}
a{
    margin-left: 2rem;
    color: #D8CAB8;
    text-decoration: none;
    cursor: pointer;
}
.hamburger{
    display: none;
    font-size: 2rem;
    color: #D8CAB8;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

/* *****Responsive behavior***** */
@media (max-width: 768px) {
    .links {
        display: none;
        flex-direction: column;
        background-color: #333;
        padding: 1rem;
        position: absolute;
        top: 3rem;
        right: 1rem;
    }
    .links.active {
        display: flex;
    }
    .hamburger{
        display: block;
    }
}
/* *****End Responsive behavior***** */

.title{
    text-align: center;
    color: #D8CAB8;
    text-decoration: none;
}
.title p{
    font-size: 3.5rem;
    color: #D8CAB8;
    font-family: "meow script", cursive;
}
.secQuote{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote{
    width: 35rem;
}
.quote h3{
    margin-bottom: 2rem;
}
.heading{
    height: 8rem;
    background: #FF9990;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.testLaptop{
    transform: translateY(5rem);
    opacity: 60%;
    filter: grayscale(100%) blur(10px);
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
}
.heading h4{
    color: white;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}
.testContainer{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}
.box{
    min-height: 27rem;
    width: 18rem;
    background: white;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
}
.quoteIcon {
    font-size: 5rem;
    color: #FF9990;
    margin-left: 1rem;
    font-family: "Alex Brush", cursive;

}

/* *****About Me***** */
.about {
    background: #86E0FF;
    background-image: url(./assets/aboutBackgound.png);
    background-position: center;
    background-size: cover;
}
.headshotContainer{
    width: 15rem;
    height: 15rem;
    border-radius: 100rem;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    position: absolute;
    top: 15rem;
    border: solid white .5rem;
}
.text {
    margin-top: 12rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
.paraContainer {
    display: flex;
    width:80%;
    margin: auto;

}
/* *****End About Me***** */

/* *****PortfolioHome***** */
.portHome{
    background: #86E0FF;
    background-image: url(./assets/portHeader.png);
    background-position: center;
    background-size: cover;
}
.portLaptop{
    transform: translateY(5rem);
    opacity: 60%;
    filter: grayscale(100%) blur(10px);
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
}
.portQuoteIcon{
    font-family: 'Segoe Fluent Icons';
    font-size: 24px;
}
.portContainer{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}
.Example{
    height: 25rem;
    width: 25rem;
    background: white;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: relative;
    overflow: hidden;
}
.image{
    height: 20rem;
    border-radius: 2rem;
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
}
.Example p{
    padding-top: 2rem;
    position: relative;
    transform: translateY(10rem);
    transition: 0.5s all;
    opacity: 0;
    pointer-events: none;
}
.Example button{
    border: none;
    background: #104862;
    color: #D8CAB8;
    height: 3rem;
    width: 9rem;
    border-radius: 10rem;
    cursor: pointer;
    margin-top: 1.5rem;
    position: relative;
    opacity: 0;
    transition: 0.5s all;
    transform: translateY(10rem);
}
.Example:hover p, .Example:hover button {
    opacity: 1;
    transform: translateY(8rem);
}
.Example:hover .image {
    transform: translateY(-3rem) scale(0.8);
}
.Example p,
.Example button {
    transition: opacity 0.5s ease, transform 0.5s ease;
}
@media (hover: none) and (pointer: coarse) {
    .Example p,
    .Example button {
        opacity: 1;
        transform: translateY(8rem);
  }

    .image {
        transform: translateY(-3rem) scale(0.8);
  }
}


/* *****End PortfolioHome***** */

/* *****PortEx1***** */
.aboutProject{
    display: flex;
    height: auto;
    width: 100%;
}
.aboutImage, .txtContainer {
    flex: 1;
}
.cfetpMain {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.txtContainer {
    padding: 1rem;
}
.txtContainer p {
    padding-top: 1.5rem;
}
.summary {
    display: flex;
    height: auto;
    width: 100%;
    background: #F2F2F2;
    justify-content: center;
    align-items: flex-start;
}
.details, .tools, .skills {
    flex: 1;
    padding-left: 2rem;
    margin: 2rem;
}
.detailsHead, .toolsHead, .skillsHead {
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: left;
    align-items: center;
}
ul {
    list-style: none;
    padding-left: 0;
}
li {
    position: relative;
    padding-left: 2rem;
    line-height: 2.5;
}
li::before {
    position: absolute;
    left: 0;
    top: 0;
    font-family: 'Material Symbols Outlined';
    font-size: 1.2rem;
    color: #FF9990;
}
.cpuIcon::before {
    content: "desktop_windows";
}
.guyIcon::before {
    content: "person";
}

.calIcon::before {
    content: "calendar_month";
}
.checkIcon::before {
    content: "check_circle";
}
.screenshots {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 20rem;
    flex-wrap: wrap;
    gap: 2rem
}
.cfetpShot1, .cfetpShot2, .cfetpShot3{
    height: 20rem;
    width: 20rem;
    overflow: hidden;
}
.screenshots img{
    object-fit: cover;
    display: block;
    height: 100%;
    border-radius: 2rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}
/* *****End PortEx1***** */
